<div class="side-top">
      <div class="user-name">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="new-chat">
        <%= link_to 'チャットを作成する', new_room_path%>
      </div>
    </div>
    <div class="side-bottom">
      <div class="chat-rooms">
        <ul>
          <% current_user.rooms.each do |room| %>
          <li class="chat-room"><a href="#"><%= room.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>