<div class="side-top">
      <div class="user-name">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="new-chat">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-bottom">
      <div class="chat-rooms">
        <ul>
          <li class="chat-room"><a href="#">techroom1</a></li>
          <li class="chat-room"><a href="#">techroom2</a></li>
        </ul>
      </div>
    </div>